In [119]:
#10
# Reemplo los valores NULL o NaN en PrecioVenta por ceros
data['PrecioVenta'] = data['PrecioVenta'].fillna(0)
print(data.isnull().sum())

ProductoCodigo               0
Nombre                       0
ImpuestoId                   0
Impuesto                     0
Descripcion               2375
Activo                       0
CuentaContableCodigo         0
CuentaContable               0
SubRubroCodigo               0
SubRubro                     0
RubroCodigo                  0
Rubro                        0
SubclasificacionCodigo       0
Subclasificacion             0
ClasificacionCodigo          0
Clasificacion                0
UnidadCodigo                 0
Unidad                       0
PrecioVenta                  0
Stock                        0
MovimientosStock           787
MovimientoCantidad         787
ImporteCompra             2695
cluster                      0
TieneDescripcion             0
dtype: int64

In [120]:
#11
# Reviso los valores faltantes
print("Valores faltantes por columna:")
print(data.isnull().sum())

# Columna específicas para aplicar la media
columnas_para_imputar = ['PrecioVenta']

# Reemplo las comas por puntos en las columnas relevantes
data['PrecioVenta'] = data['PrecioVenta'].str.replace(',', '.', regex=False)
# Convertir la columna a tipo numérico
data['PrecioVenta'] = pd.to_numeric(data['PrecioVenta'], errors='coerce')





# Mostrar las columnas con valores faltantes en las columnas con decimales
print("Valores faltantes en columnas con decimales:")
print(data[columnas_para_imputar].isnull().sum())
# Imputar la media solo en las columnas con decimales


# Verificar que ya no haya valores faltantes en las columnas con decimales
print("Valores faltantes después de la imputación en columnas con decimales:")
#print(data[columnas_para_imputar].isnull().sum())

Valores faltantes por columna:
ProductoCodigo               0
Nombre                       0
ImpuestoId                   0
Impuesto                     0
Descripcion               2375
Activo                       0
CuentaContableCodigo         0
CuentaContable               0
SubRubroCodigo               0
SubRubro                     0
RubroCodigo                  0
Rubro                        0
SubclasificacionCodigo       0
Subclasificacion             0
ClasificacionCodigo          0
Clasificacion                0
UnidadCodigo                 0
Unidad                       0
PrecioVenta                  0
Stock                        0
MovimientosStock           787
MovimientoCantidad         787
ImporteCompra             2695
cluster                      0
TieneDescripcion             0
dtype: int64
Valores faltantes en columnas con decimales:
PrecioVenta    3283
dtype: int64
Valores faltantes después de la imputación en columnas con decimales:

In [5]:
#11#
Filtrar solo columnas numéricas
columnas_numericas = data.select_dtypes(include=[int, float]).columns
# Mostrar columnas numéricas con valores faltantes
print("Valores faltantes en columnas numéricas:")
print(data[columnas_numericas].isnull().sum())

Valores faltantes en columnas numéricas:
ProductoCodigo              0
ImpuestoId                  0
Activo                      0
CuentaContableCodigo        0
SubRubroCodigo              0
RubroCodigo                 0
SubclasificacionCodigo      0
ClasificacionCodigo         0
UnidadCodigo                0
Stock                       0
MovimientosStock          787
MovimientoCantidad        787
dtype: int64